include common/mixins/_nav
footer.footer
    .container
        .footer__content
            .footer__item
                a.logo.footer__logo(href="index.html" tabindex="-1")
                    img.logo__image-main(src="img/logo/logo_image.svg" alt="logo")
            .footer__item.laptop-hidden
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") About
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Services
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Technologues
                    li.footer__navigation-li
                        a.footer__link.link(href="#") How To
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Join Hydra
            .footer__item.laptop-hidden
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") FAQ
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Sitemap
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Conditions
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Licenses
            .footer__item
                p.socialize SOCIALIZE WITH HYDRA
                .social 
                    a.social__link(href="#")
                        img(src="img/svg/social/facebook.svg", alt="facebook" width="32" height="32") 
                    a.social__link(href="#")
                        img(src="img/svg/social/twitter.svg", alt="twitter" width="32" height="32") 
                    a.social__link(href="#")
                        img(src="img/svg/social/linkedin.svg", alt="linkedin" width="32" height="32") 
                    a.social__link(href="#")
                        img(src="img/svg/social/youtube.svg", alt="youtube" width="32" height="32") 
                    a.social__link(href="#")
                        img(src="img/svg/social/instagram.svg", alt="instagram" width="32" height="32") 
                    a.social__link(href="#")
                        img(src="img/svg/social/pinterest.svg", alt="pinterest" width="32" height="32") 
                button.btn.footer__btn BUILD YOUR WORLD
        .copyright 2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED 
