//include common/mixins/_nav
//include common/mixins/_burg

//header.header
    .header__content.container
        a.logo.header__logo(href="index.html" tabindex="-1")
            img.logo__image-desktop(src="/img/pug-icon.png" alt="logo" tabindex="-1") 
            
        +burg('#headNav')(class="header-burg")
