section.about#about
    .about__content.container
        .about__item.about__item-center
            .about__image
                picture
                    source.lazyload(srcset="img/image.webp" data-src="img/pexels-shvets-production-7562014.webp" type="image/webp")
                    img.lazyload(src="img/image.png" data-src="img/pexels-shvets-production-7562014" alt="Man in virtual reality helmet")
        .about__item
            h2.about__title.title ABOUT
            h3.about__subtitle.subtitle HYDRA VR
            .about__text.text.
                Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus 
                urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida 
                dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. 
                Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet 
                sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam 
                etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet 
                cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
                retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
                n tempor.
            button.btn LET’S GET IN TOUCH
                