section.form-section
    .container
        form.form(action="#")
            h2.form__title.title JOIN HYDRA
            h3.form__subtitle.subtitle Let’s Build Your VR Experience
            .form__row
                input.form__input(type="text" name="firstName" placeholder="First Name")
                input.form__input(type="text" name="lastName" placeholder="Last Name")
            .form__row
                input.form__input(type="email" name="email" placeholder="Email")
                input.form__input(type="text" name="phone" placeholder="Phone Number")
            .form__row.form__row_w-100
                input.form__input(type="text" name="subject" placeholder="Subject")
            .form__row.form__row_w-100
                textarea.form__tarea(name="textarea") Tell Us Something...
            button.btn.form__btn SEND TO HYDRA
        
        