section.how#how
    .how__content.container
        .how__top
            .why__item
                h2.how__title.title HOW WE BUILD
                h3.how__title.subtitle.subtitle-arrow WITH HYDRA VR?
            .why__item
                .how__text.text.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                    nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                    quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                    lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
        .how__process.process.swiper.how__swiper
            .swiper-wrapper
                .process__item.swiper-slide
                    .process__number 01
                    .process__text 3D Conception &amp;Design
                .process__item.swiper-slide
                    .process__number 02
                    .process__text Interaction Design
                .process__item.swiper-slide
                    .process__number 03
                    .process__text VR World User Testing
                .process__item.swiper-slide
                    .process__number 04
                    .process__text Hydra VR Deploy
            .swiper-button-prev
            .swiper-button-next
    .process__background-line