section.tech#tech
    .tech__content.container 
        .tech__top
            h2.tech__title.title TECHNOLOGIES &amp;&nbsp;HARDWARE
            h3.tech__subtitle.subtitle USED BY HYDRA VR.
            button.tech__btn
                img(src="/img/svg/chevron-small-down.svg", alt="")
        .tech__brands.swiper.tech__swiper
            .swiper-wrapper
                .swiper-slide
                    .tech__brand
                        picture
                            source.lazyload(srcset="img/image.webp" data-src="img/brand_ue.webp" type="image/webp")
                            img.lazyload(src="img/image.png" data-src="img/brands_ue.png" alt="" width="174" height="174")
                .swiper-slide
                    .tech__brand
                        picture
                            source.lazyload(srcset="img/image.webp" data-src="img/brand_unity.webp" type="image/webp")
                            img.lazyload(src="img/image.png" data-src="img/brand_unity.png" alt="" width="252" height="252")
                .swiper-slide
                    .tech__brand
                        picture
                            source.lazyload(srcset="img/image.webp" data-src="img/brand_oculus.webp" type="image/webp")
                            img.lazyload(src="img/image.png" data-src="img/brand_oculus.png" alt="" width="263" height="263")
                .swiper-slide
                    .tech__brand
                        picture
                            source.lazyload(srcset="img/image.webp" data-src="img/brand_vive.webp" type="image/webp")
                            img.lazyload(src="img/image.png" data-src="img/brand_vive.png" alt="" width="282" height="282")
            .swiper-button-next
            .swiper-button-prev 