section.why#services
    .why__content.container
        .why__top
            .why__item
                h2.why__title.title WHY BUILD
                h3.why__subtitle.subtitle.subtitle-arrow WITH HYDRA?
            .why__item
                .why__text.text.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                    nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                    quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                    lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
        .swiper.why__swiper
            .swiper-wrapper
                .swiper-slide(data-hash="slide1")
                    .card
                        .card__image 
                            picture
                                source.lazyload(srcset="img/image.webp" data-src="img/pexels-shvets-production-7561969.webp" type="image/webp")
                                img.lazyload(src="img/image.png" data-src="img/pexels-shvets-production-7561969.png" alt="SIMULATION")
                        h3.card__title SIMULATION
                        .card__text.
                            Vitae sapien pellentesque habitant morbi
                            nunc. Viverra aliquet  porttitor rhoncus 
                            libero justo laoreet sit amet vitae.
                        a(href="#").btn.card__link TRY IT NOW
                .swiper-slide(data-hash="slide2")
                    .card
                        .card__image 
                            picture
                                source.lazyload(srcset="img/image.webp" data-src="img/pexels-mikhail-nilov-7887140.webp" type="image/webp")
                                img.lazyload(src="img/image.png" data-src="img/pexels-mikhail-nilov-7887140.png" alt="EDUCATION")
                        h3.card__title EDUCATION
                        .card__text.
                            Vitae sapien pellentesque habitant morbi
                            nunc. Viverra aliquet  porttitor rhoncus 
                            libero justo laoreet sit amet vitae.
                        a(href="#").btn.card__link TRY IT NOW
                .swiper-slide(data-hash="slide3")
                    .card
                        .card__image 
                            picture
                                source.lazyload(srcset="img/image.webp" data-src="img/pexels-rodnae-productions-8098263.webp" type="image/webp")
                                img.lazyload(src="img/image.png" data-src="img/pexels-rodnae-productions-8098263.png" alt="SELF-CARE")
                        h3.card__title SELF-CARE
                        .card__text.
                            Vitae sapien pellentesque habitant morbi
                            nunc. Viverra aliquet  porttitor rhoncus 
                            libero justo laoreet sit amet vitae.
                        a(href="#").btn.card__link TRY IT NOW
                .swiper-slide(data-hash="slide4")
                    .card
                        .card__image 
                            picture
                                source.lazyload(srcset="img/image.webp" data-src="img/pexels-mali-maeder-756439.webp" type="image/webp")
                                img.lazyload(src="img/image.png" data-src="img/pexels-mali-maeder-756439.png" alt="OUTDOOR")
                        h3.card__title OUTDOOR
                        .card__text.
                            Vitae sapien pellentesque habitant morbi
                            nunc. Viverra aliquet  porttitor rhoncus 
                            libero justo laoreet sit amet vitae.
                        a(href="#").btn.card__link TRY IT NOW
            .swiper-button-prev
            .swiper-button-next